<div class="flex justify-end px-4">
  <div class="flex items-center">
    <p class="flex-none px-2 text-xs">Items per page:</p>
    <mat-form-field class="w-16">
      <mat-select
        [(ngModel)]="limit"
        class="px-2"
        (valueChange)="limitChange.emit($event)"
      >
        <mat-option [value]="10">10</mat-option>
        <mat-option [value]="25">25</mat-option>
        <mat-option [value]="100">100</mat-option>
      </mat-select>
    </mat-form-field>
    <p class="flex-none pl-6 pr-4 text-xs">Page 1 of 10</p>
    <button
      mat-icon-button
      type="button"
      [disabled]="page <= 1"
      (click)="pageChange.emit(1)"
    >
      <mat-icon svgIcon="mat_solid:first_page"></mat-icon>
    </button>
    <button
      mat-icon-button
      type="button"
      [disabled]="page <= 1"
      (click)="pageChange.emit(page - 1)"
    >
      <mat-icon svgIcon="mat_solid:navigate_before"></mat-icon>
    </button>
    <button
      mat-icon-button
      type="button"
      [disabled]="page >= pages"
      (click)="pageChange.emit(page + 1)"
    >
      <mat-icon svgIcon="mat_solid:navigate_next"></mat-icon>
    </button>
    <button
      mat-icon-button
      type="button"
      [disabled]="page >= pages"
      (click)="pageChange.emit(pages)"
    >
      <mat-icon svgIcon="mat_solid:last_page"></mat-icon>
    </button>
  </div>
</div>
