<div class="fixed inset-0" *ngIf="isLoading" @fadeOut>
  <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
</div>

<div class="container mx-auto mt-4 mb-12">
  <div class="px-4 space-y-4">
    <div class="p-6 bg-white rounded shadow-md">
      <form (ngSubmit)="search()" [formGroup]="formGroup">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Search</mat-label>
          <input type="search" matInput formControlName="q" />
        </mat-form-field>
        <button mat-flat-button color="primary" class="block">
          <mat-icon svgIcon="mat_outline:search"></mat-icon>
          Search
        </button>
      </form>
    </div>

    <div class="bg-white rounded shadow-md">
      <table mat-table class="w-full" [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="mx-2">
            <p class="text-center">Product Information</p>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="flex space-x-4">
              <img
                class="object-contain w-24 h-24"
                [src]="element.image"
                [alt]="element.name"
              />
              <div class="py-4">
                <p class="py-2">{{ element.name }}</p>
                <p>{{ element.code }}</p>
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>
            <p class="mx-4 text-center">Price</p>
          </th>
          <td mat-cell *matCellDef="let element">
            <p class="mx-4 text-center">
              {{ element.price }}
            </p>
          </td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>
            <p class="mx-4 text-center">Category</p>
          </th>
          <td mat-cell *matCellDef="let element">
            <p class="mx-4 text-center">
              {{ element.category_name }}
            </p>
          </td>
        </ng-container>
        <ng-container matColumnDef="created_by">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="hidden mx-2 md:table-cell"
          >
            <p class="text-center">Created By</p>
          </th>
          <td mat-cell *matCellDef="let element" class="hidden md:table-cell">
            <p class="mx-4">
              {{ element.user_name }}
            </p>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>
            <p class="text-center">Actions</p>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="flex space-x-2">
              <button
                mat-icon-button
                class="text-slate-600"
                matTooltip="Edit"
                type="button"
              >
                <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>
              </button>

              <button
                mat-icon-button
                color="error"
                matTooltip="Delete"
                type="button"
                (click)="delete(element)"
              >
                <mat-icon svgIcon="mat_solid:delete"></mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <x-paginator
        [(limit)]="limit"
        [page]="page"
        [pages]="pages"
        (limitChange)="reloadData(page)"
        (pageChange)="reloadData($event)"
      ></x-paginator>
    </div>
  </div>
</div>

<ng-template #confirmModal>
  <h2 mat-dialog-title>Are you sure to delete this product?</h2>

  <mat-dialog-actions align="end">
    <button type="button" mat-button mat-dialog-close>Cancel</button>
    <button
      type="button"
      mat-button
      class="text-white bg-rose-500"
      (click)="confirmDelete()"
      mat-dialog-close
    >
      Delete
    </button>
  </mat-dialog-actions>
</ng-template>
