<mat-sidenav-container class="w-screen h-screen" autosize>
  <mat-sidenav #drawer [opened]="opened" [mode]="mode">
    <x-navigation [drawer]="drawer"></x-navigation>
  </mat-sidenav>
  <mat-sidenav-content class="relative bg-gray-100">
    <mat-toolbar class="flex items-center justify-between">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon svgIcon="heroicons_outline:menu"></mat-icon>
      </button>
      <x-user></x-user>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
